<?xml version='1.0' encoding='utf-8'?>
<widget id="org.podemosaprender.launcher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PodemosAprender Launcher</name>
    <description>
      	Cordova / HTML based android app launcher 
    </description>
    <author email="aprnder@mauriciocap.com" href="http://podemosaprender.org">
       Podemos Aprender 
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file mode="overwrite" parent="/manifest/application/activity[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <action android:label="@string/launcher_name" android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-calendar" spec="^5.1.4" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugins-applist" spec="https://github.com/podemosaprender/cordova-plugin-applist.git" />
</widget>
